*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  letter-spacing: 0.02rem;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  transition: all 0.3 ease;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

svg {
  width: 24px;
  height: 24px;
}

path {
  fill: var(--icon-color);
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--p-font-size);
}

main {
  overflow-x: hidden;
}

/* Utility Classes */
.container {
  max-width: 1488px;
  margin: 0 auto;
}

/* Button */
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--text-dark-color);
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.button path {
  transition: all 0.3s ease;
}

.button:has(path):hover path {
  fill: var(--primary-color-dark);
}

.button--primary {
  background-color: var(--regular-btn-bg-color);
  color: var(--text-light-color);
  padding: 12px 24px;
}

.button--primary:hover {
  background-color: var(--btn-bg-hover-color);
}

.button--light {
  padding: 11px;
  background-color: var(--light-btn-bg-color);
  border: var(--light-btn-border);
  border-radius: 10px;
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
  background-color: var(--navbar-bg-scroll-color);
  backdrop-filter: blur(10px);
}

.navbar__container {
  max-width: 1470px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.navbar__logo img {
  width: 30px;
  height: 30px;
}

.navbar__logo span {
  font-weight: 700;
  font-size: 23px;
  color: #262626;
}

.navbar__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
}

.navbar__menu-link,
.navbar__mobile-menu-link {
  position: relative;
  color: var(--heading-color);
  padding: 10px;
  transition: all 0.3s ease;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color-dark);
}

.navbar__menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar__menu-link:hover::after,
.navbar__menu-link--active::after {
  width: 100%;
}

/* Mobile Menu */
.navbar__mobile-menu {
  display: none;
}

.navbar__mobile-menu-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar__mobile-menu-action--toggle-menu {
  stroke: var(--icon-color);
}

.navbar__mobile-menu-action--toggle-menu:hover {
  stroke: var(--primary-color-dark);
}

.navbar__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--body-bg-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-items--active {
  transform: translateX(0);
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* Hero */
.hero {
  padding: 11.5rem 2rem 8rem;
}

.hero__content {
  max-width: 787px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.hero__button:first-of-type {
  padding: 14px 32px;
}

.hero__button:last-of-type {
  color: var(--primary-color);
  font-weight: 600;
}

.hero__button:last-of-type i {
  transition: transform 0.3s ease;
}

.hero__button:last-of-type:hover i {
  transform: translateX(5px);
}

/* Features */
.features {
  color: var(--text-light-color);
  padding: 8rem 0;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.features__card {
  padding: 3rem 74px 3rem 3rem;
  display: flex;
  gap: 10px;
  background-color: var(--black);
  border-radius: 10px;
}

.features__card-icon {
  line-height: 60px;
  padding: 10px;
}

.features__card-icon path {
  width: 28px;
  height: 28px;
  fill: var(--primary-color);
}

.features__card-icon:hover path {
  fill: var(--primary-color-dark);
}

.features__card-content {
  max-width: 335px;
}

.features__card-title {
  color: var(--text-light-color);
  font-weight: 600;
}

.features__card-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
}

/* Courses */
.courses {
  position: relative;
}

.courses__container {
  padding: 128px 0;
}

.courses__header {
  text-align: center;
  padding-bottom: 40px;
}

.courses__cards {
  display: flex;
  justify-content: space-between;
}

.courses__card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
  width: 356px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
}

.courses__card-image {
  position: relative;
}

.courses__card-image img {
  padding: 0;
  border-radius: 16px;
  height: 200px;
  aspect-ratio: 17 / 9;
}

.courses__card-badge {
  position: absolute;
  top: 17px;
  left: 13px;
  padding: 4px 17px;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--text-light-color);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.courses__card-badge--development {
  background-color: var(--dev-badge-color);
}

.courses__card-badge--marketing {
  background-color: var(--marketing-badge-color);
}

.courses__card-badge--design {
  background-color: var(--design-badge-color);
}

.courses__card-badge--editing {
  background-color: var(--editing-badge-color);
}

.courses__card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courses__card-title {
  font-size: 24px;
  color: var(--text-dark-color);
  font-weight: 600;
  line-height: 32px;
}

.courses__card-author {
  font-size: 14px;
}

.courses__card-duration {
  display: flex;
  gap: 1.5px;
  align-items: center;
}

.courses__card-timer {
  width: 17px;
  height: 17px;
}

.courses__card-duration p {
  font-size: 14px;
  color: var(--text-dark-color);
}

.courses__card-duration p b {
  font-weight: 500;
}

.courses__card-price-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courses__card-price {
  font-weight: 400;
  font-size: 14px;
}

/* Feedback */
.feedback__container {
  background-image: url(../images/feedback-bg.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
  padding: 165px 15px;
  display: flex;
  justify-content: center;
}

.feedback__content {
  text-align: center;
  max-width: 1080px;
}

.feedback__title {
  color: var(--text-light-color);
}

.feedback__description {
  font-size: 38px;
  line-height: 1.2;
  color: var(--text-light-color);
}

/* Dark Theme */
.body--theme-dark {
  /* Primary Color */
  /* --primary-color: #8b5cf6; */

  /* Body Colors */
  --body-bg-color: var(--black);

  /* Text Colors */
  --text-color: #a3a3a3;
  --heading-color: #f5f5f5;
}

:root {
  /* Light Theme Colors */
  --primary-color: #8b5cf6;
  --primary-color-dark: #7850d4;
  --black: #171717;
  --white: #ffffff;

  /* Body Colors */
  --body-bg-color: #ffffff;

  /* Text Colors */
  --text-light-color: var(--white);
  --text-dark-color: var(--black);
  --text-color: #737373;
  --heading-color: var(--black);

  /* Button Colors */
  --btn-bg-hover-color: var(--primary-color-dark);

  /* Button Colors (Regular) */
  --regular-btn-bg-color: var(--primary-color);

  /* Button Colors (Light) */
  --light-btn-bg-color: var(--white);
  --light-btn-bg-hover-color: var(--primary-color-dark);
  --light-btn-border: 1px solid #e5e5e5;

  /* Scroll Colors */
  --navbar-bg-scroll-color: rgb(255, 255, 255, 0.8);

  /* Card Badge Colors */
  --dev-badge-color: var(--primary-color);
  --marketing-badge-color: rgb(219, 112, 12);
  --design-badge-color: rgb(45, 65, 180);
  --editing-badge-color: rgb(28, 119, 28);

  /* Icons */
  --icon-color: var(--black);
  --icon-hover-color: var(--white);

  /* Font Sizes */
  --h1-font-size: 80px;
  --h2-font-size: 48px;
  --h3-font-size: 38px;
  --h4-font-size: 28px;
  --p-font-size: 20px;
}

/* Media Queries */
@media (max-width: 1488px) {
  /* Features */
  .features {
    padding: 3rem 5rem;
  }

  .features__container {
    grid-template-columns: 1fr;
    width: 865px;
  }

  /* Courses */
  .courses {
    height: 44rem;
  }

  .courses__container {
    padding: 48px 0;
    width: 1488px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .courses__cards {
    justify-content: space-evenly;
  }
}

@media (max-width: 1024px) {
  /* Navbar */
  .navbar__container {
    max-width: 864px;
  }

  /* Features */
  .features__container {
    width: auto;
  }

  /* Feedback */
  .feedback__content {
    max-width: 830px;
  }
}

@media (max-width: 768px) {
  :root {
    /* Font Sizes */
    --h1-font-size: 38px;
    --h2-font-size: 30px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
  }

  /* Navbar */
  .navbar {
    padding: 2.5rem 15px;
  }

  .navbar__menu {
    display: none;
  }

  /* Mobile Menu */
  .navbar__mobile-menu {
    display: block;
  }

  /* Hero */
  .hero {
    padding: 11.5rem 15px 8rem;
  }

  /* Features */
  .features {
    padding: 3rem 15px;
  }

  .features__card {
    padding: 3rem 2rem;
    display: flex;
    gap: 10px;
    background-color: var(--black);
    border-radius: 10px;
  }

  .features__card-content {
    max-width: 285px;
  }

  .features__card-title {
    font-size: 30px;
  }

  .features__card-description {
    font-size: 20px;
  }

  /* Courses */
  .courses {
    height: auto;
  }

  .courses__container {
    padding: 48px 0;
    width: auto;
    position: relative;
  }

  .courses__cards {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  /* Feedback */
  .feedback__content {
    max-width: auto;
  }

  .feedback__description {
    font-size: 24px;
  }
}
