*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  letter-spacing: 0.02rem;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

svg {
  width: 24px;
  height: 24px;
}

path {
  fill: var(--icon-color);
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

/* Utility Classes */

/* Button */
.button {
  color: var(--heading-color);
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--btn-bg-hover-color);
  transition: background-color 0.3s ease;
}

.button--primary {
  background-color: var(--regular-btn-bg-color);
  color: var(--btn-text-color);
  padding: 12px 24px;
}

.button--primary:hover {
  background-color: var(--btn-bg-hover-color);
}

.button--light {
  padding: 11px;
  background-color: var(--light-btn-bg-color);
  border: var(--light-btn-border);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.button--light:hover {
  background-color: var(--btn-bg-hover-color);
}

.button--light:has(path):hover path {
  fill: var(--btn-text-color);
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar__container {
  max-width: 1470px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.navbar__logo img {
  width: 30px;
  height: 30px;
}

.navbar__logo span {
  font-weight: 700;
  font-size: 23px;
  color: #262626;
}

.navbar__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
}

.navbar__menu-link,
.navbar__mobile-menu-link {
  position: relative;
  color: var(--heading-color);
  padding: 10px;
  transition: all 0.3s ease;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar__menu-link:hover::after,
.navbar__menu-link--active::after {
  width: 100%;
}

/* Mobile Menu */
.navbar__mobile-menu {
  display: none;
}

.navbar__mobile-menu-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* background-color: yellow; */
}

.navbar__mobile-menu-action--toggle-menu {
  stroke: var(--icon-color);
}

.navbar__mobile-menu-action--toggle-menu:hover {
  stroke: var(--icon-hover-color);
}

.navbar__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--body-bg-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-items--active {
  transform: translateX(0);
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}


/* Dark Theme */
.dark-theme {
  /* Primary Color */
  /* --primary-color: #8b5cf6; */

  /* Body Colors */
  --body-bg-color: var(--black);

  /* Text Colors */
  --text-color: #a3a3a3;
  --heading-color: #f5f5f5;
}

:root {
  /* Light Theme Colors */
  --primary-color: #8b5cf6;
  --primary-color-dark: #7850d4;
  --black: #171717;
  --white: #ffffff;

  /* Body Colors */
  --body-bg-color: #ffffff;

  /* Text Colors */
  --text-color: #737373;
  --heading-color: var(--black);

  /* Button Colors */
  --btn-text-color: var(--white);
  --btn-bg-hover-color: var(--primary-color-dark);

  /* Button Colors (Regular) */
  --regular-btn-bg-color: var(--primary-color);

  /* Button Colors (Light) */
  --light-btn-bg-color: var(--white);
  --light-btn-text-color: var(--black);
  --light-btn-bg-hover-color: var(--primary-color-dark);
  --light-btn-border: 1px solid #e5e5e5;

  /* Icons */
  --icon-color: var(--black);
  --icon-hover-color: var(--white);
}

/* Media Queries */
@media (max-width: 1024px) {
  /* Navbar */
  .navbar__container {
    max-width: 864px;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar__menu {
    display: none;
  }

  /* Mobile Menu */
  .navbar__mobile-menu {
    display: block;
  }
}
